[submodule "vendor/plugins/dynamic_form"]
	path = vendor/plugins/dynamic_form
	url = git://github.com/rails/dynamic_form.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/sickill/exception_notification.git
[submodule "vendor/plugins/labelled_form_for"]
	path = vendor/plugins/labelled_form_for
	url = git://github.com/itkin/labelled_form_for.git
[submodule "vendor/plugins/constants_in_db"]
	path = vendor/plugins/constants_in_db
	url = git://github.com/itkin/constants_in_db.git
[submodule "vendor/plugins/youtube-model"]
	path = vendor/plugins/youtube-model
	url = git://github.com/itkin/youtube-model.git
[submodule "vendor/plugins/ordered_collection"]
        path = vendor/plugins/ordered_collection
        url = git://github.com/itkin/ordered_collection.git

