

@mixin ajax-accordion($color:black)
  li h2
    clear: left
    line-height: 27px
    margin-top: 1px
    padding: 0.5em 0.5em 0.5em 2.2em
    a.header-content
      padding: 0
    img
      float: left
      margin-right: 0.2em
    .actions
      float: right
      a
        display: inline
        padding: 0 0.5em

  .ui-icon.ui-icon-triangle-1-e.loader
    background: image-url('mini-loader.gif') left top no-repeat

  .ui-accordion-content
    .attr-block
      margin-bottom: .5em
      label
        +inline-block
        color: $color
        width: 20%
        vertical-align: top
        *vertical-align: top
        font-weight: bold
        letter-spacing: 0.05em


