/*
Syntax error: Undefined variable: "$blue".
        on line 28 of /Users/nico/Sites/projects/morph/app/stylesheets/application.sass

Backtrace:
/Users/nico/Sites/projects/morph/app/stylesheets/application.sass:28
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/script/variable.rb:39:in `_perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/script/node.rb:61:in `perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/prop_node.rb:132:in `perform!'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/root_node.rb:37:in `perform'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/tree/root_node.rb:29:in `render'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/engine.rb:196:in `_render'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/engine.rb:168:in `render'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/haml/util.rb:289:in `silence_haml_warnings'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/lib/sass/engine.rb:168:in `render'
/Users/nico/.gem/ruby/1.8/gems/compass-0.10.5/lib/compass/compiler.rb:103:in `compile'
/Users/nico/.gem/ruby/1.8/gems/compass-0.10.5/lib/compass/logger.rb:43:in `red'
/Users/nico/.gem/ruby/1.8/gems/compass-0.10.5/lib/compass/compiler.rb:102:in `compile'
/Users/nico/.gem/ruby/1.8/gems/compass-0.10.5/lib/compass/compiler.rb:93:in `compile_if_required'
/Users/nico/.gem/ruby/1.8/gems/compass-0.10.5/lib/compass/compiler.rb:84:in `run'
/Users/nico/.gem/ruby/1.8/gems/compass-0.10.5/lib/compass/compiler.rb:82:in `each'
/Users/nico/.gem/ruby/1.8/gems/compass-0.10.5/lib/compass/compiler.rb:82:in `run'
/Users/nico/.gem/ruby/1.8/gems/compass-0.10.5/lib/compass/commands/watch_project.rb:92:in `recompile'
/opt/local/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `to_proc'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm/path.rb:71:in `call'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm/path.rb:34:in `update'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm/state/directory.rb:32:in `modified'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm/state/directory.rb:31:in `modified'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/Users/nico/.gem/ruby/1.8/gems/haml-3.0.18/vendor/fssm/lib/fssm.rb:17:in `monitor'
/Users/nico/.gem/ruby/1.8/gems/compass-0.10.5/lib/compass/commands/watch_project.rb:61:in `perform'
/Users/nico/.gem/ruby/1.8/gems/compass-0.10.5/lib/compass/commands/base.rb:18:in `execute'
/Users/nico/.gem/ruby/1.8/gems/compass-0.10.5/lib/compass/commands/project_base.rb:19:in `execute'
/Users/nico/.gem/ruby/1.8/gems/compass-0.10.5/lib/compass/exec/sub_command_ui.rb:38:in `perform!'
/Users/nico/.gem/ruby/1.8/gems/compass-0.10.5/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/nico/.gem/ruby/1.8/gems/compass-0.10.5/bin/compass:26
/opt/local/bin/compass:19:in `load'
/opt/local/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$blue\".\A         on line 28 of /Users/nico/Sites/projects/morph/app/stylesheets/application.sass"; }
