// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset"
@import "partials/base"
@import "partials/page"
@import "compass/utilities/lists/bullets"
@import "compass/utilities/links/unstyled-link"

//// To configure blueprint, edit the partials/base.sass file.
//@import "partials/base";
//
//// Import all the default blueprint modules so that we can access their mixins.
//@import "blueprint";
//
//// Combine the partials into a single screen stylesheet.
//@import "partials/page";
//@import "partials/form";
//@import "partials/two_col";

$side-content-columns: floor($blueprint-grid-columns / 3)
$main-content-columns: $blueprint-grid-columns - $side-content-columns
$title-font-size: 20px
$font-size: 10px
$color: white

body
  a, a:visited
    +unstyled-link
    cursor: pointer
  font-size: $font-size
  .page
    +container
    #header
      +column($blueprint-grid-columns)
      height: 120px
      background: image-url('logo_1.gif') left center no-repeat
    #side-content
      +column($side-content-columns)
      width: 270px
      h1
        color: white
        font-size: $title-font-size
        text-transform: uppercase
      ul
        +no-bullets
        padding: 0
        margin: 0
        margin-bottom: 10px
      #languages
        margin: 10px 0
    #main-content
      +column($main-content-columns, true)
      width: 480px
      .projects
        .project
          margin-bottom: 70px
          position: relative
          float: left
          width: 100%

          h3
            font-size: $title-font-size
            margin-bottom: 15px

          .video
            width: 480px
            height: 260px
            margin-bottom: 15px

          .images
            float: right
            margin-bottom: 15px
            img
              float: right
              &.first
                margin-right: 30px

          .description
            clear: right
            float: right

          .metadata
            float: left
            width: 170px
            position: relative
            td
              padding: 0
            .metadata_type_name
              color: $blue
              text-transform: capitalize
              vertical-align: top
              padding-right: 0.5em

      .pagination
        float: right
        margin: 10px 0
        .disabled
          display: none
        .current
          text-decoration: underline



