.options
  = text_field_tag :search,nil, :class => 'search', 'data-source' => admin_projects_path
  = link_to t("actions.new", :default => 'new'), [:new, :admin, :project], :class=> 'new'

.ajax-accordion-wrapper
  %ul.ajax-accordion.projects
    = render :partial => 'item', :collection => @projects, :as => :project

  = will_paginate @projects