%ul.ajax-accordion.multipart.sortable.projects{'data-reorder-url' => reorder_admin_projects_path, 'data-per-page' => @projects.per_page }
  = render :partial => 'item', :collection => @projects, :as => :project

= will_paginate @projects
