%li[project]
  %h2
    = render :partial => 'actions', :locals => { :project => project }
    = image_tag(project.image_1.url(:small))
    %span.title= project.title
  %div
    = render :partial => project
