.options
  = text_field_tag :search, nil, :class => 'search', 'data-source' => admin_parameters_path
  = link_to t("actions.new", :default => 'new'), [:new, :admin, :parameter], :class=> 'new'

.ajax-accordion-wrapper
  %ul.ajax-accordion.parameters
    = render :partial => 'item', :collection => @parameters, :as => :parameter

  = will_paginate @parameters