%li[metadata_type]
  %h2
    = render :partial => 'actions', :locals => { :metadata_type => metadata_type }
    = metadata_type.name
  %div
    = flash_message
    = render :partial => metadata_type

