=labelled_form_for @user do |f|
  .field= f.text_field :name
  .field= f.text_field :email
  .field.buttons
    = f.submit t('actions.submit')
    = link_to t('actions.cancel'), (@project.new_record? ? projects_path : @project)
