%div[user]

  .attr-block
    %label= t :name, :scope => [:activerecord, :attributes, :user], :default => 'name'
    %span= user.name
  .attr-block
    %label= t :email, :scope => [:activerecord, :attributes, :user], :default => 'email'
    %span= user.email
