.scaffold

  .options
    = link_to t("actions.new", :default => 'new'), new_admin_user_path, :class=> 'new'
    .searchbox-wrapper
      %span Rechercher
      = text_field_tag :search, nil, :class => 'search', 'data-source' => admin_users_path
      = image_tag 'mini-loader.gif', :style => 'display:none'

  .ajax-accordion-wrapper
    = render :partial => "index"
